# Database connection
POSTGRES_DATABASE_NAME=<required>
POSTGRES_USER=<required>
POSTGRES_PASS=<required>
POSTGRES_HOST=<has default value>
POSTGRES_PORT=<has default value>

# Django defaults
ALLOWED_HOSTS=<has default value>
INTERNAL_IPS=<has default value>
DJANGO_SECRET_KEY=<has default value>
STATIC_ROOT=<has default value>
DJANGO_ENV=<has default value>
DJANGO_ERROR_LOG_FILENAME=<required>

METAX_USER_USERNAME=<has default value>
METAX_USER_PASSWORD=<has default value>
METAX_USER_EMAIL=<has default value>

ENABLE_SSO_AUTH=<false by default>
SSO_HOST=<required if sso enabled>
SSO_SECRET_KEY=<required if sso enabled>
SSO_SESSION_COOKIE=<required if sso enabled>
SSO_METAX_SERVICE_NAME=<required if sso enabled>
SSO_TRUSTED_SERVICE_TOKEN=<required for user sync if sso enabled>

CSRF_TRUSTED_ORIGINS=<empty by default, comma separated list of e.g. service.domain.com>
CORS_ALLOWED_ORIGINS=<empty by default, comma separated list of e.g. https://service.domain.com>
CORS_ALLOW_CREDENTIALS=<false by default>

ENABLE_USERS_VIEW=<false by default>
ENABLE_MEMCACHED=<false by default>
ENABLE_DRF_TOKEN_AUTH=<false by default>

# Email configuration
EMAIL_HOST=<required for email>
EMAIL_PORT=<required for email>
EMAIL_HOST_USER=<none by default>
EMAIL_HOST_PASSWORD=<none by default>
EMAIL_USE_TLS=<false by default>
METAX_EMAIL_SENDER=<default "noreply@fairdata.fi">
