{% extends "rest_framework/base.html" %}
{% load users %}

{% block style %}
{{ block.super }}
<style>
  .navbar-inverse .nav.navbar-nav .open .dropdown-menu button,
  .navbar-inverse .nav.navbar-nav .open .dropdown-menu a {
    background: none;
    border: none;
    padding: 3px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    clear: both;
    text-align: left;
    width: 100%;
    color: #C20000;
  }

  .navbar-inverse .nav.navbar-nav .open .dropdown-menu li button.link:hover,
  .navbar-inverse .nav.navbar-nav .open .dropdown-menu li>a:hover {
    border: none;
    padding: 3px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    clear: both;
    text-align: left;
    width: 100%;
    background: #EEEEEE;
    color: #C20000;
  }

  .navbar .open .dropdown-menu {
    background: #FFFFFF;
    color: #C20000;
  }
</style>
{% endblock %}

{% block userlinks %}
  {% if user.is_authenticated %}
    {% user_menu user %}
  {% else %}
    {% sso_login request %}
  {% endif %}
{% endblock %}

